ul {
  padding-left: 0;
  li {
    list-style-type: none;
  }
}

.rounded-botton {
    border-bottom-left-radius: 6rem!important;
}

.d-flex {
  gap: 10px;
}

.m-lg-5 {
  margin-top: 8rem!important;
}

.bg-secondary {
  background-color: #e5e5e5!important;
}

.bg-light {
  background-color: #fff!important;
}

